.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, 8em);
  gap: 1.5rem;
}

.card {
  width: 8em;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  transition: all 0.5s ease;
}

.card:hover {
  background-color: #444;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.symbol {
  font-size: 3.5rem;
  padding:0;
  margin: 0;
  font-weight: 700;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.target {
  background-color: rgb(215, 97, 191);
}

.name {
  color: #bbb;
  font-weight: 400;
  padding: .8rem 0;
  margin: 0;
}

.title {
  border-bottom: 4px solid #444;
  padding: .5rem 0;
}